<h2><%= @range %>s search for "<%= params[:word] %>"</h2>
<% if @range == "User" %>
    <!--検索対象モデルがUserの時 -->
  <%= render 'users/index', users: @users %>
<% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
  <%= render 'books/index', books: @books %>
<% end %>